            <div class="footercontainer">
                <div class="dell_logo C_align">
                    <img src="{$IMG_PATH}/icon/plesk.gif">
                    <img src="{$IMG_PATH}/icon/paypal.gif">
                    <img src="{$IMG_PATH}/icon/dell.gif">
                    <img src="{$IMG_PATH}/icon/cb.gif">
                    <img src="{$IMG_PATH}/icon/ideal.gif">
                    <img src="{$IMG_PATH}/icon/directadmin.gif">
                    <img src="{$IMG_PATH}/icon/supermicro.gif">
                </div>
                <div style="margin:10px" class="C_align">
                   {$FOOTER}
                </div>
                <div class="footer">
                    <p class="C_align">&copy; 2008 Initialdesign.nl All rights reserved. </p>
                </div>
            </div>
            <div class="fclear"></div>
        </div>
        <div class="fclear"></div>
    </div><!-- END MainStructure -->
</body>
</html>
