<!--
            <div class="bottom_field">
                <div class="main_form"><img src="{$IMG_PATH}loggo1.gif" align="center"></div>
                <div class="main_form">
                    <a class="footer" href="">Contact Us</a> |
                    <a class="footer" href="">Term & Conditions</a> |
                    <a class="footer" href="">Help</a> |
                    <a class="footer" href="">Privacy Policy</a>
                </div>
            </div>
-->        </div>
    <div class="clear"></div>
</body>

</html>