<div class="AllContentField">
    <div class="LField left"></div>
    <div class="RField left">
        
        <div class="MainField">
            <div class="TitleMenu">Content</div>
            <div class="ListMenu"><a class="menu3" href="{$ADMIN_PATH}static_content">Static Content</a></div>
            <div class="ListMenu"><a class="menu3" href="{$ADMIN_PATH}news">News</a></div>

            <!--
            <div class="ListMenu"><a class="menu3" href="#">Article</a></div>
            -->
        </div>
        <div class="MainField">
            <div class="TitleMenu">Product</div>
            <div class="ListMenu"><a class="menu3" href="{$ADMIN_PATH}product_service">Product</a></div>
            <div class="ListMenu"><a class="menu3" href="{$ADMIN_PATH}product_service">Service</a></div>
        </div>

        <!--
        <div class="MainField">
            <div class="TitleMenu">Costumer</div>
            <div class="ListMenu"><a class="menu3" href="#">Contact</a></div>
            <div class="ListMenu"><a class="menu3" href="#">Costumer Info</a></div>
            <div class="ListMenu"><a class="menu3" href="#">Enrollment</a></div>
        </div>
        <div class="MainField">
            <div class="TitleMenu">Gallery</div>
            <div class="ListMenu"><a class="menu3" href="#">Movies</a></div>
            <div class="ListMenu"><a class="menu3" href="#">Images</a></div>
        </div>
        <div class="MainField">
            <div class="TitleMenu">Newsletter</div>
            <div class="ListMenu"><a class="menu3" href="#">Email</a></div>
        </div>
        -->
        <div class="MainField">
            <div class="TitleMenu">Preference</div>
            <!-- <div class="ListMenu"><a class="menu3" href="#">Multi Language</a></div> -->
            <div class="ListMenu"><a class="menu3" href="#">Favicon</a></div>
            <div class="ListMenu"><a class="menu3" href="#">Themes/Skin</a></div>
            <!-- <div class="ListMenu"><a class="menu3" href="#">Contact</a></div> -->

        </div>
        
    </div>
</div>
