<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <title>StuNed</title>
		{section name=icss loop=$CSS}
		<link href="{$CSS[icss]}" type="text/css" rel="stylesheet" media="screen" />
		{/section}
		{section name=ijs loop=$JS}
		<script src="{$JS[ijs]}" type="text/javascript"></script>
		{/section}
		<script language="javascript" type="text/javascript">
		// <![CDATA[
		{section name=ijs loop=$InlineJS}
		{$InlineJS[ijs]}
		{/section}
		// ]]>
		</script>
  </head>
<body>
