/*=== Header Section ===*/
.main_menu li{
 float:left;
 margin-right:1px
}
.main_menu li a,.main_menu li a:hover,.main_menu li a.left,.main_menu li a:hover.left,.main_menu li a.right,.main_menu li a:hover.right,.active_menu{
 font:normal .8em Arial;
 font-weight:bold;
 color:#ffffff;
 line-height:26px;
 padding:0 15px;
 display:block;
 background:#362f2d;
 cursor:pointer;
}
.main_menu li a:hover,.main_menu li a:hover.left,.main_menu li a:hover.right,.active_menu{
 color:#000000;
 background:url(../images/mainMenuActive.gif) center top no-repeat #ffffff;
 text-decoration:none;
}
.active_menu{
 background:url(../images/mainMenuActive.gif) center top no-repeat;
}
.main_menu li a.left{
 background:url(../images/mm_coner_left.gif) left top no-repeat #362f2d;
}
.main_menu li a.right{
 background:url(../images/mm_coner_right.gif) right top no-repeat #362f2d;
}
.hmcc_submenu a.arrow,.hmcc_submenu a:hover.arrow{
 margin-right:10px;
 float:left;
 font:bold 11px arial,sans serif;
 text-indent:2px;
}
a.arrow,a:hover.arrow{
 font:normal 11px arial,sans serif;
 color:#ff6600;
 line-height:12px;
 text-decoration:none;
 padding-left:8px;
 height:10px;
 display:block;
 background:url(../images/blackArrows.gif) left bottom no-repeat;
 cursor:pointer;
}
a:hover.arrow{
 color:#999999;
 text-decoration:none;
}

/*=== Content Section ===*/
/*Left Content*/
.content_menu li{
 margin:5px 15px;
}
*html .content_menu li{
 height:1%;
}
/* Accordion Menu */
a.CM01,a:hover.CM01{
 display:block;
 color:#fff;
 font:bold 9pt Arial,sans serif;
 padding:3px 0 3px 9px;
 text-decoration:none;
 background-color:#ff6600;
}
a:hover.CM01{
 background-color:#ff9900;
}
a.CM02,a:hover.CM02{
 display:block;
 color:#858585;
 font:bold 8pt Arial,sans serif;
 text-decoration:none;
 margin-left:12px;
}
a:hover.CM02{
 color:#ff6600;
}
.arrowlistmenu{
width:200px;
}
.arrowlistmenu .menuheader{
margin-bottom:5px;
cursor: hand;
cursor: pointer;
}
.arrowlistmenu ul li{
 background:url(../images/orange_box.gif) left center no-repeat;
 margin-left:10px;
 margin-bottom:5px;
}

/*Middle Content*/
.text_field h3{
 font: bold 12pt arial,sans serif;
}
.text_field p{
 font: normal 8pt arial,sans serif;
 text-align:justify;
}

/*Right Content*/
.search_field input{
 background:url(../images/input_bg.gif) left top no-repeat;
 border:none;
 margin-top:6px;
 margin-left:10px;
 width:151px;
 float:left;
}
.search_field button{
 width:23px;
 height:22px;
 background:url(../images/search_icon.png);
 border:none;
 float:left;
 margin-top:4px;
 margin-left:6px;
}
.search_field p{
 font:bold 1em arial,sans serif;
 color:#ffffff;
 margin-left:10px;
}
.news_event h3{
 height:20px;
 text-indent:120px;
 font:bold 9pt arial,sans serif;
 color:#ffffff;
 line-height:16px;
}
.news_event h5{
 font:bold 9pt arial,sans serif;
 margin-top:12px;
}
.news_event p{
 font:normal 8pt arial,sans serif;
 margin-right:10px;
 margin-bottom:6px;
       position:relative;
}

/*=== Footer Section ===*/
.fcenter_btm span{
 font:normal 9pt arial,sans-serif;
 color:#ffffff;
 line-height:16px;
}

