p,td,th,span,div{font-size:11px;line-height:140%;}

.clear{clear:both}

.bannercontent_domain{padding:30px 0 30px 45px;}
.bannercontent_domain{border:2px solid #ecf0f1;margin:20px 0 10px 0;background:#ffffff url(../../images/initial/background/banner_content.gif) repeat-x center bottom;}

.domaintext{width:auto;height:22px;font:bold 16pt Arial;color:#f36b17;text-align:right;line-height:22px;padding-right:10px;float:left;}
.bannercontent_btn{float:left;}
.searchCell{width:auto;height:22px;padding:0 0 0 0;text-align:left;background:none;}

input.loginBtn{border:1px solid #025081 !important;background:#ff9900;) left repeat-x #025081;color:#fff;font:Bold 11px Arial;cursor:pointer;display:inline;width:58px}
input.srcText{float:left;height:20px;width:320px;border:0px;background:#ffffff;color:#6eb2d8;font:Bold 13px Arial;}
input.srcText{border-top:1px solid #e3e9ef;border-bottom:1px solid #e3e9ef;border-right:1px solid #e3e9ef;margin-right:5px}
input.srcBtn{height:20px;width:44px;border:0;padding-top:7px;background: url(../../images/initial/button/go_btn.png);cursor:pointer;}
.wwwtxt {
	width:35px;
	height:20px;
	float:left;
	padding:0px 3px;
	border-left:1px solid #e3e9ef;
	border-top:1px solid #e3e9ef;
	border-bottom:1px solid #e3e9ef;
	border-right:0px solid #e3e9ef;
	background:#ffffff;
	color:#6eb2d8;
	font:Bold 13px Arial;
	text-align:center;
}
